In [3]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [6]:
poke_csv="Resources/poke_recode.csv"
poke_df= pd.read_csv(poke_csv)
poke_df

,#,Name,Type1,Type2,Generation,Type1_Recode,Type2_Recode
0,1,Bulbasaur,Grass,Poison,1,1,6.0
1,2,Ivysaur,Grass,Poison,1,1,6.0
2,3,Venusaur,Grass,Poison,1,1,6.0
3,3,VenusaurMega Venusaur,Grass,Poison,1,1,6.0
4,4,Charmander,Fire,NaN,1,2,NaN
...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,6,12,9.0
796,719,DiancieMega Diancie,Rock,Fairy,6,12,9.0
797,720,HoopaHoopa Confined,Psychic,Ghost,6,11,13.0
798,720,HoopaHoopa Unbound,Psychic,Dark,6,11,16.0
799,721,Volcanion,Fire,Water,6,2,3.0